{% extends 'base.html.twig' %}

{% block title %}Accueil Association{% endblock %}

{% block body %}
    <h1>{{association.name}}</h1>

    {% include('association/navbar.html.twig') %}

{% endblock %}

