{% extends 'base.html.twig' %}

{% block title %}Section News{% endblock %}

{% block body %}
    <h1>Actualités {{section.name}}</h1>

    {% include('section/navbar.html.twig') %}

    <ul>
        {% if articles is defined %}
            {% for article in section.articles %}
                <li><a href="{{ path('detail_news_section', {'slugSection': section.slug, 'id': article.id, 'slugArticle': article.slug}) }}">{{ article.title }} - {{ article.articleCategory }}</a></li>

            {% endfor %}
        {% else %}
            <li>Aucun Article disponible</li>
        {% endif %}
    </ul>

{% endblock %}