{% extends 'base.html.twig' %}

{% block title %}Section News{% endblock %}

{% block body %}
    <h1>{{section.name}} - Détail Actualité : {{article.title}}</h1>

    {% include('section/navbar.html.twig') %}

   <p>{{article.articleCategory}}</p>
   <p>{{article.content}}</p>

{% endblock %}